<!-- Find Crime Points (Query) Form -->
<div class="col-md-4">

  <!-- Creates Main Panel -->
  <div class="panel panel-default">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h2 class="panel-title text-center">Change the Patrol</h2>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">

      <!-- Creates Form -->
      <form name="queryForm">

        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude"  placeholder="39.5"   ng-model="formData.latitude" readonly>
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" placeholder="-98.35" ng-model="formData.longitude" readonly>
        </div>

        <!-- Note ng-true-value which translates check values into explicit dayofweek integers -->
        <label>Day of Week</label>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="sunday"    value="Sunday"    ng-model="formData.dayofweek" ng-true-value = "0">
            Sunday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="monday"    value="Monday"    ng-model="formData.dayofweek" ng-true-value = "1">
            Monday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="tuesday"   value="Tuesday"   ng-model="formData.dayofweek" ng-true-value = "2">
            Tuesday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="wednesday" value="Wednesday" ng-model="formData.dayofweek" ng-true-value = "3">
            Wednesday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="thursday"  value="Thursday"  ng-model="formData.dayofweek" ng-true-value = "4">
            Thursday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="friday"    value="Friday"    ng-model="formData.dayofweek" ng-true-value = "5">
            Friday
          </label>
          <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="optionsRadios" id="saturday"  value="Saturday"  ng-model="formData.dayofweek" ng-true-value = "6">
            Saturday
          </label>
        </div>

        <div class="form-group">
          <label for="hour">Hour</label>
          <input type="number" class="form-control" id="hour" placeholder="0 = 12AM | 23 = 11PM" ng-model="formData.hour">
        </div>

        <!-- Query button. Note that its tied to queryCrimepoints() function from queryCtrl.  -->
        <button type="submit" class="btn btn-danger btn-block" ng-click="queryCrimepoints()">Update Patrol</button>
      </form>
    </div>

    <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
    <div ng-show="queryCount>0" class="panel-footer">
      <p class="text-center">We Found {{queryCount}} Crimepoints.</p>
    </div>
  </div>
</div>